= form_tag jobs_path, method: 'GET',id: 'visitor-form' do
  %label.h1.color-white.text-center.uppercase{:for => "zip"} Hilf Flüchtlingen in deiner Umgebung.
  .controls.text-center{style: 'width: 250px; margin: 0 auto;'}
    .input-group.text-center
      =text_field_tag 'zip', nil, placeholder: 'Postleitzahl', class: 'form-control input-lg', id: 'zip',autocomplete: 'off'
      %span.input-group-btn
        =submit_tag 'Go!',name: nil,id: 'visitor-form-submit' class: 'btn btn-primary btn-lg'
    .error.alert-danger.padding-5{style: 'font-size: 14px;margin-top:2px;display:none;'}

