%h1 Listing jobs

%aside.col-md-4.bg-white
  %h3 Ort
  %hr
  %span.btn.btn-primary.btn-xs{style: 'margin-bottom: 5px'}=params[:zip]
  %h3 Kategorie
  %hr
  -@categories.each do |category|
    %span.btn.btn-primary.btn-xs{style: 'margin-bottom: 5px'}=category.name
%article.col-md-8
  -@jobs.each do |job|
    .col-xs-12.bg-white.padding-10{style: 'margin-bottom: 10px'}
      %h4
        =link_to job.title, job_path(job.id)
        .span
          %span.small= job.city_district.distance_from(params[:zip]).round(2) if params[:zip]
          %span.small km von dir entfernt
      %p=job.text
      %span Kategorien:
      %ul.list-inline
        -job.categories.each do |category|
          %li{style: 'color:red'}=category.name