 @mixin opacity($number)  {
  /* IE 5-7 */
  filter: alpha(opacity= $number*100);
  /* Netscape */
  -moz-opacity: $number;
  /* Safari 1.x */
  -khtml-opacity: $number;
  /* Good browsers */
  opacity: $number;
 }

@mixin background-size ($string: contain) {
  -webkit-background-size: $string;
  -moz-background-size: $string;
  -o-background-size: $string;
  background-size: $string;
}